# String Type

In [7]:
# 문자열에 작은 따옴표(')추가
food1 = "Python's favorite food is perl."
food2 = 'Python\'s favorite food is perl.'
print(food1, food2, end = '\n')

# 문자열에 큰 따옴표(")추가
say = '"Python is very easy." he says.'
print(say)

Python's favorite food is perl. Python's favorite food is perl.
"Python is very easy." he says.

In [10]:
# 문자열 변경
"""
a = "pithon"
a[1] = 'y'
print(a)
"""
a = "pithon"
a = a[:1] + 'y' + a[2:]
print(a)

python

In [27]:
# 문자열 포맷 코드
"""
%s - 문자열(String)
$c - 문자 1개(Character)
%d - 정수(Integer)
%f - 부동소수(Floating-point)
%o - 8진수
%x - 16진수
%% - Literal % (문자 % 자체)
"""

# 포매팅 연산자 %d와 %를 같이 쓸 때는 %% 사용
print("Error is %d%%." %98)

# 정렬과 공백
print("%10s" %"hi") #전체 길이가 10개인 문자열 공간에서 대입되는 값을 오른쪽으로 정렬
print("%-10sjane" %"hi") #왼쪽 정렬

# 이름으로 넣기
print("I ate {number} apples. so I was sick for {day} days." .format(day=3, number=10))
#{name}형태로 사용할 경우 format 함수에는 반드시 name=value와 같은 형태의 입력값이 었어야만 함

# 왼쪽 정렬
print("{0:<10}" .format("hi")) #:<10 표현식을 사용하면 치환되는 문자열을 왼쪽으로 정렬하고 문자열의 총 자릿수를 10으로 맞춤

# 오른쪽 정렬
print("{0:>10}" .format("hi"))

# 공백 채우기
"""
정렬할 때 공백 문자 대신에 지정한 문자 값으로 채워 넣는 것도 가능
채워 넣을 문자 값은 정렬 문자 <,^,> 바로 앞에 넣어야 함
"""
print("{0:=^10}" .format("hi"))
print("{0:!<10}" .format("hi"))

# 소수점 표현
y = 3.42134234
print("{0:0.4f}" .format(y))
print("{0:10.4f}" .format(y))

Error is 98%.
        hi
hi        jane
I ate 10 apples. so I was sick for 3 days.
hi
        hi
====hi====
hi!!!!!!!!
3.4213
    3.4213

In [30]:
#f 문자열 포매팅
name = '홍길동'
age = 30
print(f'나의 이름은 {name}입니다. 나이는 {age}입니다.')

#표현식(+, -와 같은 수식을 함께 사용하는 것)을 지원
age = 30
print(f'나는 내년이면 {age+1}살이 된다.')

#딕셔너리 사용
d = {'name':'홍길동', 'age':30}
print(f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.')

#정렬
print(f'{"hi":<10}')
print(f'{"hi":^10}')
print(f'{"hi":>10}')

#공백채우기
print(f'{"hi":=^10}')
print(f'{"hi":!<10}')

#소수점
y = 3.141592
print(f'{y:0.4f}')
print(f'{y:10.4f}')

print(f'{{name}}')

나의 이름은 홍길동입니다. 나이는 30입니다.
나는 내년이면 31살이 된다.
나의 이름은 홍길동입니다. 나이는 30입니다.
hi
    hi
        hi
====hi====
hi!!!!!!!!
3.1416
    3.1416
{name}

In [70]:
# Function
a = "Python is the best choice."
print(a)
print(".count('i'):",a.count('i'))
print(".find('b'):", a.find('b')) #'b'가 처음으로 나온 위치를 반환
print(".find('k'):", a.find('k')) #찾는 문자나 문자열이 존재하지 않는다면 -1을 반환
print(".index('b')", a.index('b')) #'b'가 처음으로 나온 위치를 반환
#print(a.index('b')) #찾는 문자나 문자열이 존재하지 않는다면 오류를 발생
print('".join(a)"', ",".join(a)) #문자열의 각각의 문자 사이에 ','을 삽입
print(".replace(old,new):", a.replace("Python","Korean"))
print(".split()", a.split())
print(".split(' ')", a.split(' '))
"""
join 함수는 문자열뿐만 아니라 앞으로 배울 리스트나 튜플도 입력으로 사용할 수 있음
"""
print(",".join(['a','b','c','d'])) #join 함수의 입력으로 리스트를 사용
print(".upper():", a.upper())
print(".lower():", a.lower())

a = "----hi----"
print(a)
print(".lstrip('-'):", a.lstrip('-')) #왼쪽 공백 지우기(lstrip)
print(".rstrip('-'):", a.rstrip('-')) #오른쪽 공백 지우기(rstrip)
print(".strip('-'):", a.strip('-')) #양쪽 공백 지우기(strip)

Python is the best choice.
.count('i'): 2
.find('b'): 14
.find('k'): -1
.index('b') 14
".join(a)" P,y,t,h,o,n, ,i,s, ,t,h,e, ,b,e,s,t, ,c,h,o,i,c,e,.
.replace(old,new): Korean is the best choice.
.split() ['Python', 'is', 'the', 'best', 'choice.']
.split(' ') ['Python', 'is', 'the', 'best', 'choice.']
a,b,c,d
.upper(): PYTHON IS THE BEST CHOICE.
.lower(): python is the best choice.
----hi----
.lstrip('-'): hi----
.rstrip('-'): ----hi
.strip('-'): hi

# List Type

In [4]:
# 리스트 삭제
a = [1, 2, 3]
print(a)
del a[1:]
print(a)

# 오름차순 정렬
b = [1, 4, 5, 2]
c = ['a', 'v', 'c', 'd']
b.sort()
c.sort()
print(b,c, end = "\n")

# 리스트 뒤집기
d = ['a', 'c', 'b']
d.reverse()
print(d)

# 위치 반환(index)
a = [1, 2, 3]
print(a.index(3))
print(a.index(1))
#print(a.index(4)): 리스트에 존재하지 않으면 ValueError 발생

[1, 2, 3]
[1]
[1, 2, 4, 5] ['a', 'c', 'd', 'v']
['b', 'c', 'a']
2
0

In [8]:
# 리스트에 요소 삽입
a = [1, 2, 3]
a.insert(0, 4)
print(a)

a. insert(3,5)
print(a)

#리스트 요소 제거(remove)
a = [1, 2, 3, 1, 2, 3]
a.remove(3) #리스트에서 첫 번째로 나오는 x를 삭제하는 함수
print(a)
a.remove(3)
print(a)

[4, 1, 2, 3]
[4, 1, 2, 5, 3]
[1, 2, 1, 2, 3]
[1, 2, 1, 2]

In [9]:
#리스트 요소 제거(remove)
a = [1, 2, 3, 1, 2, 3]
a.remove(3) #리스트에서 첫 번째로 나오는 x를 삭제하는 함수
print(a)
a.remove(3)
print(a)

[1, 2, 1, 2, 3]
[1, 2, 1, 2]

In [11]:
#리스트 요소 끄집어내기(pop)
a = [1, 2, 3]
print(a.pop()) #리스트의 맨 마지막 요소를 돌려주고 그 요소는 삭제
print(a)

a = [1, 2, 3]
print(a.pop(1)) #리스트의 x번째 요소를 돌려주고 그 요소는 삭제
print(a)

3
[1, 2]
2
[1, 3]

In [13]:
#리스트 확장(extend)
a = [1, 2, 3]
a.extend([4, 5]) #x에는 리스트만 올 수 있음
print(a)
b = [6, 7]
a.extend(b)
print(a)

a = [1, 2, 3]
a += [4, 5]
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5]

# Tuple Type
- **tuple vs list**
    - **list**: 항목 값의 변화가 가능
    - **tuple**: 항목 값의 변화가 불가
- 프로그램이 실행되는 동안 그 값이 항상 변하지 않기를 바라거나 값이 바뀔까 걱정하고 싶지않다면 튜플을 사용

In [14]:
t1 = (1, 2, 'a', 'b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [15]:
t2 = (1, 2, 'a', 'b')
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

# Dictionary Type

In [24]:
a = {1:'a'}
del a[1]
print(a)

a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
# Key 얻기
print(a.keys()) # 메모리 낭비를 줄이기 위해 dict_keys 객체 반환
print(list(a.keys()))

for k in a.keys():
    print(k) # 리스트를 사용하는 것과 차이가 없지만, 리스트 고유의 append, insert, pop, remove, sort 함수 등은 사용불가

# Key, Value 쌍 얻기
print(a.items())

# Key, Value 지우기
print(a.clear())
print(a)

# Key로 Value 얻기(get)
a = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
print(a.get('name'))

{}
dict_keys(['name', 'phone', 'birth'])
['name', 'phone', 'birth']
name
phone
birth
dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])
None
{}
pey

In [25]:
#인덱스로 가져오는 것과 get함수의 차이
a = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
print(a.get('nokey'))
#print(a['nokey']) #KeyError: 'nokey'오류 발생

"""
딕셔너리 안에 찾으려는 Key 값이 없을 경우 미리 정해 둔 디폴트 값을 대신 가져오게 하고 싶을 때에는 get(x, '디폴트 값')을 사용하면 편리
"""
print(a.get('foo', 'bar'))

#해당 Key가 딕셔너리 안에 있는지 조사하기(in)
a = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
print('name' in a)
print('email' in a)

None
bar
True
False

# Set Type

In [27]:
s1 = set([1, 2, 3])
l1 = list(s1) #set 자료형에 저장된 값을 인덱싱으로 접근하려면 리스트나 튜플로 변환 후 해야 함
print(l1)
print(l1[0])

t1 = tuple(s1)
print(t1)
print(t1[0])

[1, 2, 3]
1
(1, 2, 3)
1

In [28]:
#교집합, 합집합, 차집합
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

#교집합
print(s1&s2)
print(s1.intersection(s2))

#합집합
print(s1|s2)
print(s1.union(s2))

#차집합
print(s1.difference(s2))
print(s2.difference(s1))

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{8, 9, 7}

# Boolean Type

In [30]:
a = [1, 2, 3, 4]
while a:
    print(a.pop())

if []:
    print("참")
else:
    print("거짓")

if [1, 2, 3]:
    print("참")
else:
    print("거짓")

print(bool('python'))
print(bool(''))

4
3
2
1
거짓
참
True
False

# Copy

In [31]:
# 1. [:] 이용 - 리스트 전체를 가리키는 [:]을 사용해서 복사
a = [1, 2, 3]
b = a[:]
a[1] = 4 #a 리스트 값을 바꾸더라도 b 리스트에는 영향을 끼치치 않음
print(a, id(a))
print(b, id(b))

# 2. copy 모듈 이용
from copy import copy
a = [1, 2, 3]
b = copy(a)
print(a, id(a))
print(b, id(b))

# 3. copy 함수 이용
a = [1, 2, 3]
b = a.copy()
print(a, id(a))
print(b, id(b))

#변수를 만드는 여러가지 방법
a, b = ('python', 'life')
(a, b) = 'python', 'life'
[a, b] = ['python', 'life']
a = b = 'python'

#변수 바꾸기
a = 3
b = 5
a, b = b, a
print(a)
print(b)

[1, 4, 3] 4411803520
[1, 2, 3] 4411994432
[1, 2, 3] 4411801920
[1, 2, 3] 4411447616
[1, 2, 3] 4411803520
[1, 2, 3] 4411574912
5
3