## 사칙연산

In [2]:
2**8 #2^8

256

In [3]:
7/4 #실수형 나눗셈

1.75

In [4]:
7//4 #정수형 나눗셈, 몫 반환

1

In [6]:
7%4 #정수형 나눗셈, 나머지 반환

3

## 변수

In [7]:
x = 1/5
y = 3/5
x+y

0.8

## 자료형

In [8]:
type(100)

int

In [9]:
type(100.1)

float

In [10]:
x = 'learning'
type(x)

str

In [12]:
hello = "hello"
world = "world"
hw = hello + ' ' + world
print(hw)

hello world

In [13]:
hw = 'hello %s' %'world'
print(hw)

hello world

In [15]:
hw12 = '%s %s %d' %(hello, 'world', 12)
print(hw12)

hello world 12

In [16]:
'%10s' %"hi"

'        hi'

In [17]:
'%-10sjane.' %'hi'

'hi        jane.'

In [21]:
'%0.4f' %1223.423173 #반올림

'1223.4232'

In [26]:
'%2.4f' %1232123.4231223

'1232123.4231'

In [31]:
a = "Life is too short"
b = a.split()
print(a)
print(b)

Life is too short
['Life', 'is', 'too', 'short']

In [34]:
a = "a:b:c:d"
b = a.split(":")
print(b)

['a', 'b', 'c', 'd']

In [35]:
a = "Abracadabra %.3f homework"
b = 11
c = a%b
print(c)

Abracadabra 11.000 homework

In [36]:
print(a.count('A'))

1

In [38]:
print(a.find('b'))

1

In [39]:
A = a.upper()
print(A)

ABRACADABRA %.3F HOMEWORK

In [42]:
print(A%b)

ABRACADABRA 11.000 HOMEWORK

In [44]:
A = A.replace(' ',':')
print(A)

ABRACADABRA:%.3F:HOMEWORK

In [47]:
print(A.split(':'))

['ABRACADABRA', '%.3F', 'HOMEWORK']

## Boolean

In [52]:
t = True
f = False
print(type(t))
print(t and f)
print(t or f)
print(not t)
print(t != f)

<class 'bool'>
False
True
False
True

In [53]:
print("Life","is","too short")

Life is too short

## String Output formatting

In [54]:
x = 71
print('weight = {0} kg'.format(x))

weight = 71 kg

In [55]:
x = 1/3
y = 2/3
z = 1
print('weight : {0} kg {1} kg {2} kg'.format(x, y, z))

weight : 0.3333333333333333 kg 0.6666666666666666 kg 1 kg

In [56]:
print('weight : {0:.2f}kg, {1:.3f}kg, {2:.1f}kg'.format(x, y, z))

weight : 0.33kg, 0.667kg, 1.0kg

## input

In [57]:
a = input()
a

12

'12'

## while

In [60]:
x = "*"
i = 1
while i <= 5:
    y = x*i
    print(y)
    i += 1

*
**
***
****
*****

In [61]:
x = 1
y = 0
while x <= 1000:
    if x % 3 == 0:
        y += x
    x += 1
print(y)

166833

## list

In [62]:
a = "Life is too short"
a[0], a[1]

('L', 'i')

In [64]:
a[1] = 'I' #문자열은 immutable 객체

TypeError: 'str' object does not support item assignment

In [66]:
b = list(a)
b[1]

'i'

In [67]:
b[1] = 'I'

In [68]:
print(b) #리스트는 mutable 객체

['L', 'I', 'f', 'e', ' ', 'i', 's', ' ', 't', 'o', 'o', ' ', 's', 'h', 'o', 'r', 't']

## 조건문

In [69]:
1 in [1,2,3]

True

In [70]:
1 not in [1,2,3]

False

## range()

In [76]:
x = list(range(10))
print(x[3:8:2])
print(x[::-1])

[3, 5, 7]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## 반복문

In [72]:
for i in [1,2,3]:
    print(i, end=' ')

1 2 3

## enumerate FCT.

In [74]:
animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals):
    print('#%d: %s'%(idx, animal))

#0: cat
#1: dog
#2: monkey

In [75]:
for idx, animal in enumerate(animals):
    print('#%d: %s'%(idx+1, animal))

#1: cat
#2: dog
#3: monkey

## .insert() method

In [86]:
num = list(range(2,11,2))
i = 0
y = list()
while i <= 4:
    y.insert(i, num[i]*2)
    i += 1
print(y)

[4, 8, 12, 16, 20]

In [87]:
x = range(5)
num = [2, 4, 6, 8, 10]
for i in x:
    num[i] *= 2
print(num)

[4, 8, 12, 16, 20]

In [89]:
num = [2,4,6,8,10]
y = []
for idx, x in enumerate(num):
    y.insert(idx, x*2)
print(y)

[4, 8, 12, 16, 20]

In [90]:
A_Class = [70, 60, 55, 75, 95, 90, 80, 85, 100]
x = 0
z = 0
for idx, y in enumerate(A_Class):
    x += y
z = x/(idx+1)
print(z)

78.88888888888889

## List 연산

In [91]:
a = [1,2,3]
b = [4,5,6]
print(a+b)

[1, 2, 3, 4, 5, 6]

In [93]:
del a[2]
print(a, len(a))

[1, 2] 2

## List copy

In [95]:
a = [1,2,3]
b = a
print(id(a), id(b)) #동일한 객체

4407849728 4407849728

In [96]:
a is b

True

### 1.[:] 이용

In [97]:
a = [1, 2, 3]
b = a[:]
print(id(a),id(b))

4409316096 4408387904

### 2.copy module 이용

In [99]:
a = [1,2,3]
from copy import copy
b = copy(a)
b is a

False

In [101]:
a = [1,2,3,4]
a.pop()
print(a)

[1, 2, 3]

In [102]:
a = [1,2,3,4]
a.pop(1)
print(a)

[1, 3, 4]

In [104]:
a = [1,2,3]
a.extend([4,5]) #.extend([]) list만 들어갈 수 있음
print(a)

[1, 2, 3, 4, 5]

In [ ]:
A = list()
a =