## 사칙연산

In [1]:
2**8 #2^8

256

In [2]:
7/4 #실수형 나눗셈

1.75

In [3]:
7//4 #정수형 나눗셈, 몫 반환

1

In [4]:
7%4 #정수형 나눗셈, 나머지 반환

3

## 변수

In [5]:
x = 1/5
y = 3/5
x+y

0.8

## 자료형

In [6]:
type(100)

int

In [7]:
type(100.1)

float

In [8]:
x = 'learning'
type(x)

str

In [9]:
hello = "hello"
world = "world"
hw = hello + ' ' + world
print(hw)

hello world

In [10]:
hw = 'hello %s' %'world'
print(hw)

hello world

In [11]:
hw12 = '%s %s %d' %(hello, 'world', 12)
print(hw12)

hello world 12

In [12]:
'%10s' %"hi"

'        hi'

In [13]:
'%-10sjane.' %'hi'

'hi        jane.'

In [14]:
'%0.4f' %1223.423173 #반올림

'1223.4232'

In [15]:
'%2.4f' %1232123.4231223

'1232123.4231'

In [16]:
a = "Life is too short"
b = a.split()
print(a)
print(b)

Life is too short
['Life', 'is', 'too', 'short']

In [17]:
a = "a:b:c:d"
b = a.split(":")
print(b)

['a', 'b', 'c', 'd']

In [18]:
a = "Abracadabra %.3f homework"
b = 11
c = a%b
print(c)

Abracadabra 11.000 homework

In [19]:
print(a.count('A'))

1

In [20]:
print(a.find('b'))

1

In [21]:
A = a.upper()
print(A)

ABRACADABRA %.3F HOMEWORK

In [22]:
print(A%b)

ABRACADABRA 11.000 HOMEWORK

In [23]:
A = A.replace(' ',':')
print(A)

ABRACADABRA:%.3F:HOMEWORK

In [24]:
print(A.split(':'))

['ABRACADABRA', '%.3F', 'HOMEWORK']

## Boolean

In [25]:
t = True
f = False
print(type(t))
print(t and f)
print(t or f)
print(not t)
print(t != f)

<class 'bool'>
False
True
False
True

In [26]:
print("Life","is","too short")

Life is too short

## String Output formatting

In [27]:
x = 71
print('weight = {0} kg'.format(x))

weight = 71 kg

In [28]:
x = 1/3
y = 2/3
z = 1
print('weight : {0} kg {1} kg {2} kg'.format(x, y, z))

weight : 0.3333333333333333 kg 0.6666666666666666 kg 1 kg

In [29]:
print('weight : {0:.2f}kg, {1:.3f}kg, {2:.1f}kg'.format(x, y, z))

weight : 0.33kg, 0.667kg, 1.0kg

## input

In [35]:
a = input()
a

1

'1'

## while

In [36]:
x = "*"
i = 1
while i <= 5:
    y = x*i
    print(y)
    i += 1

*
**
***
****
*****

In [37]:
x = 1
y = 0
while x <= 1000:
    if x % 3 == 0:
        y += x
    x += 1
print(y)

166833

## list

In [38]:
a = "Life is too short"
a[0], a[1]

('L', 'i')

In [39]:
a[1] = 'I' #문자열은 immutable 객체

TypeError: 'str' object does not support item assignment

In [40]:
b = list(a)
b[1]

'i'

In [41]:
b[1] = 'I'

In [42]:
print(b) #리스트는 mutable 객체

['L', 'I', 'f', 'e', ' ', 'i', 's', ' ', 't', 'o', 'o', ' ', 's', 'h', 'o', 'r', 't']

## 조건문

In [43]:
1 in [1,2,3]

True

In [44]:
1 not in [1,2,3]

False

## range()

In [45]:
x = list(range(10))
print(x[3:8:2])
print(x[::-1])

[3, 5, 7]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## 반복문

In [46]:
for i in [1,2,3]:
    print(i, end=' ')

1 2 3

## enumerate FCT.

In [47]:
animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals):
    print('#%d: %s'%(idx, animal))

#0: cat
#1: dog
#2: monkey

In [48]:
for idx, animal in enumerate(animals):
    print('#%d: %s'%(idx+1, animal))

#1: cat
#2: dog
#3: monkey

## .insert() method

In [49]:
num = list(range(2,11,2))
i = 0
y = list()
while i <= 4:
    y.insert(i, num[i]*2)
    i += 1
print(y)

[4, 8, 12, 16, 20]

In [50]:
x = range(5)
num = [2, 4, 6, 8, 10]
for i in x:
    num[i] *= 2
print(num)

[4, 8, 12, 16, 20]

In [51]:
num = [2,4,6,8,10]
y = []
for idx, x in enumerate(num):
    y.insert(idx, x*2)
print(y)

[4, 8, 12, 16, 20]

In [52]:
A_Class = [70, 60, 55, 75, 95, 90, 80, 85, 100]
x = 0
z = 0
for idx, y in enumerate(A_Class):
    x += y
z = x/(idx+1)
print(z)

78.88888888888889

## List 연산

In [53]:
a = [1,2,3]
b = [4,5,6]
print(a+b)

[1, 2, 3, 4, 5, 6]

In [54]:
del a[2]
print(a, len(a))

[1, 2] 2

## List copy

In [55]:
a = [1,2,3]
b = a
print(id(a), id(b)) #동일한 객체

4417351104 4417351104

In [56]:
a is b

True

### 1.[:] 이용

In [57]:
a = [1, 2, 3]
b = a[:]
print(id(a),id(b))

4417348672 4417446912

### 2.copy module 이용

In [58]:
a = [1,2,3]
from copy import copy
b = copy(a)
b is a

False

In [59]:
a = [1,2,3,4]
a.pop()
print(a)

[1, 2, 3]

In [60]:
a = [1,2,3,4]
a.pop(1)
print(a)

[1, 3, 4]

In [61]:
a = [1,2,3]
a.extend([4,5]) #.extend([]) list만 들어갈 수 있음
print(a)

[1, 2, 3, 4, 5]

In [62]:
A = list()
a = 0

while 1:
    x = input('숫자를 입력하시오: ')
    num = int(x)
    if num ==1:
        y = input('append할 숫자를 적으시오: ')
        y = int(y)
        A.append(y)
        print(A, len(A))
    
    elif num ==2:
        y = input('remove할 숫자를 적으시오: ')
        y = int(y)
        if y in A:
            A.remove(y)
            print(A, len(A))
        else:
            print(A, len(A))
            
    elif num ==0:
        break

숫자를 입력하시오:

ValueError: invalid literal for int() with base 10: ''

In [63]:
nums = [0,1,2,3,4]
squares =[]
for x in nums:
    squares.append(x ** 2)
print(squares) #출력 [0,1,4,9,16]

[0, 1, 4, 9, 16]

## list comprehensions

In [64]:
nums = [0,1,2,3,4]
Squares = [x ** 2 for x in nums]
print(Squares)

[0, 1, 4, 9, 16]

In [65]:
nums = [0,1,2,3,4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

[0, 4, 16]

In [66]:
nums = list(range(1, 101))
A = [x for x in nums if x % 3 == 0]
print(A)
for y in A:
    y += y
print(y)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]
198

## Dictionary

In [67]:
d = {'cat': 'cute', 'dog': 'furry'}
print (d['cat'])
print ('cat' in d)

cute
True

In [68]:
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [69]:
list(a.keys()) #dict_keys 객체를 리스트로 변환

['name', 'phone', 'birth']

In [70]:
a.values()

dict_values(['pey', '0119993323', '1118'])

In [71]:
a.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [72]:
a.clear()
a

{}

In [73]:
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
a.get('name')

'pey'

In [74]:
print(a['nokey'])

KeyError: 'nokey'

In [75]:
print(a['name'])

pey

In [76]:
print(a.get('nokey')) #존재하지 않는 키(nokey)로 값을 가져오려고 할 경우 a['nokey']는 Key 오류를 발생시키고
                      #a.get('nokey')는 None을 돌려준다는 차이가 있다.

None

In [77]:
a.get('foo', 'bar') # get(x, '디폴트 값'), a 딕셔너리에는 'foo'에 해당하는 값이 없다. 따라서 디폴트 값인 'bar'를 돌려준다.

'bar'

### dictionary 반복문

In [78]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal in d:
    legs = d[animal]
    print('A %s has %d legs' %(animal, legs))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

In [79]:
d ={'person': 2, 'cat': 4, 'spider': 8}
for animal, legs in d.items():
    print('A %s has %d legs' %(animal , legs))
#출력 "A person has 2 legs", "A spider has 8 legs", "A cat has 4 legs", 한 줄에 하나씩

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

In [80]:
d = {'cat':1, "dog":2}
print('cat' in d)
d['tiger'] = 3
print(d)

True
{'cat': 1, 'dog': 2, 'tiger': 3}

## dictionary comprehensions

In [81]:
nums = [0,1,2,3,4]
even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0}
print(even_num_to_square)

{0: 0, 2: 4, 4: 16}

In [82]:
A={'name':'홍길동', 'birth':'1128', 'age':'30'}
for x_key, x_val in A.items():
    print("{0}\t{1}".format(x_key, x_val))

name	홍길동
birth	1128
age	30

In [83]:
a = {'A':90, 'B':80, 'C':70}
print(a['B'])
for person, score in a.items():
    if person == 'B':
        print('%s has %d score' %(person, score))

del a['B']
print(a)

80
B has 80 score
{'A': 90, 'C': 70}

In [84]:
a = {'A':90, 'B':80}
print(a.get('C', 70))

70

In [85]:
a = {'A':90, 'B':80, 'C':70}
b = list(range(3))
i = 0

for key, value in a.items():
    b[i] = (key, value)
    i += 1
print(b)

[('A', 90), ('B', 80), ('C', 70)]

## Set

In [86]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [87]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [88]:
animals = {'cat', 'dog'}
print(type(animals), animals)

<class 'set'> {'cat', 'dog'}

In [89]:
animals = {'cat', 'dog', 'fish'}
for idx, animal in enumerate(animals):
    print("#%d: %s" %(idx + 1, animal))

#1: cat
#2: dog
#3: fish

### 집합의 연산

In [90]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
print(s1 & s2)
print(s1.intersection(s2))

{4, 5, 6}
{4, 5, 6}

In [91]:
print(s1|s2)
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [92]:
print(s1-s2)
print(s1.difference(s2))

{1, 2, 3}
{1, 2, 3}

In [93]:
animals = {'cat', 'dog'}
animals.add('fish')
print(len(animals))
animals.add('cat')
print(len(animals))
animals.remove('cat')
print(len(animals))

3
3
2

In [94]:
from math import sqrt
nums = {int(sqrt(x)) for x in range(30)}
print(nums)

{0, 1, 2, 3, 4, 5}

In [95]:
t5 = ('a', 'b', ('ab', 'cd'))
print(t5)

('a', 'b', ('ab', 'cd'))

In [96]:
a = (1, )
print(type(a))
b = (1)
print(type(b))

<class 'tuple'>
<class 'int'>

In [97]:
t1 = (1, 2, 'a', 'b')
t1[1], t1[3]

(2, 'b')

In [98]:
t2 = (3, 4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [99]:
d = {(x, x+1):x for x in range(10)}
t = (5,6)
print(type(d))
d['test']=1
print(d)
print(d[t])
print(d[(1,2)])

<class 'dict'>
{(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4, (5, 6): 5, (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9, 'test': 1}
5
1

**Mutable vs Immutable Type**
- immutable type : number, string, tuple
- mutable type : list, dictionary, set

In [100]:
import numpy as np

def my_func3(D):
    m = np.mean(D)
    s = np.std(D)
    return m, s

In [101]:
data = np.random.randn(100)
data_mean, data_std = my_func3(data)
print("mean: {0:3.2f}, std: {1:3.2f}".format(data_mean, data_std))

mean: 0.14, std: 0.98

In [102]:
output = my_func3(data)
print(output)
print(type(output))
print('mean:{0:3.2f}, std:{1:3.2f}'.format(output[0], output[1]))

(0.1417371954557429, 0.9822119447493748)
<class 'tuple'>
mean:0.14, std:0.98

## lambda FCT.

In [103]:
(lambda x,y,z: x*y*z)(1,2,3)

6

In [104]:
add = lambda x,y: x+y
result = add(3,4)
print(result)

7

In [105]:
example = lambda a: a%2
result = example(3)
if result == 0:
    print("짝수")
else:
    print("홀수")

홀수

## 고차함수

### filter(function, list)
- True가 되는 값만 따로 모아서 리스트 형태로 반환

In [114]:
def f(x):
    return x%2 != 0 and x%3 != 0 #2의 배수와 3의 배수가 아닌것

res = filter(f, range(2,24))
print(type(res))
print(list(res))

<class 'filter'>
[5, 7, 11, 13, 17, 19, 23]

In [115]:
result = filter(lambda x:x%2==0, range(0,10))
print(list(result))

[0, 2, 4, 6, 8]

### map(function, seq)
- 함수와 시퀀스 자료형(리스트, 튜플, 문자열)을 입력으로 받아서 시퀀스 자료형의 각각의 요소가 함수의 입력으로 들어간 다음 나오는 출력값을 묶어서 리스트로 반환

In [116]:
def cube(x):
    return x**3

def add(x,y):
    return x+y

res = map(cube, range(1,8))
print(type(res))
print(list(res))

seq = range(8)
res = map(add, seq, seq)
print(list(res))

<class 'map'>
[1, 8, 27, 64, 125, 216, 343]
[0, 2, 4, 6, 8, 10, 12, 14]

In [117]:
double = lambda x: 2*x

i = input("정수 리스트를 입력하시오")
o = i.split()
print(o)

number_list = list()
Result = list()
for t in o:
    p = int(t)
    number_list.append(p)

result = map(double, number_list)
print(list(result))

정수 리스트를 입력하시오1 2 2 3
['1', '2', '2', '3']
[2, 4, 4, 6]

### reduce(function, seq)
- 함수와 시퀀스의 두 값을 받아 시퀀스의 처음 두 항목을 가지고 연산을 한 후, 그 결과값을 그 다음 항목과 계속 연산하여 하나의 값을 반환

In [119]:
from functools import reduce

reduce(lambda x,y: x+y, range(11)) #1~10까지 합을 출력

55

## Class
- Class선언 -> 객체 생성 -> 멤버 호출

In [121]:
#class 선언
class Test:
    # 생성자
    def __init__(self):
        self.data = list()
    
    # 인스턴스 메소드
    def add(self, x):
        self.data.append(x)

In [122]:
#객체 생성
my01 = Test()
my02 = my01
my03 = Test()

In [123]:
#멤버 호출
for i in range(1, 6):
    my01.add(i)
print(my01.data)
print(my02.data)
print(my03.data)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[]

In [124]:
#Example
class Greeter:
    def __init__(self, name):
        self.name = name
    
    def greet(self, loud=False):
        if loud:
            print ("Hello, %s!" % self.name.upper())
        else:
            print ("Hello, %s" %self.name)
            
g = Greeter('Fred')
g.greet()
g.greet(loud=True)
print(g.name)

Hello, Fred
Hello, FRED!
Fred

In [129]:
class Calculator:
    def __init__(self, l):
        self.list = l
    
    def sum(self):
        s = 0
        for i in self.list:
            s += i
        return s
    
    def avg(self):
        return sum(self.list)/len(self.list)

cal1 = Calculator([1,2,3,4,5])
print(cal1.sum(), cal1.avg())
cal2 = Calculator([6,7,8,9,10])
print(cal2.sum(), cal2.avg())

15 3.0
40 8.0

In [130]:
class Test:
    count = 0 #class variable
    
    def __init__(self):
        self.data = list()
        Test.count += 1 #count 증가
    
    def add(self, x):
        self.data.append(x)
    
    @classmethod #class method
    def getCount(cls):
        return cls.count

In [131]:
my01 = Test()
my02 = my01
my03 = Test()

In [139]:
print("Test.getCount()", Test.getCount())
print("Test.count=", Test.count)

Test.getCount() 2
Test.count= 2

## Inheritance

In [153]:
class Person:
    def __init__(self, name, age): #이름과 나이를 입력받아 초기화
        self.name = str(name)
        self.age = str(age)
    
    def personInfo(self):
        return "name = {0}, age = {1}" .format(self.name, self.age)

class Student(Person):
    def __init__(self, name, age, grade):
        super().__init__(name, age)
        self.grade = str(grade)
    
    def getStudent(self):
        return super().personInfo() + ", grade = %s" %(self.grade)

In [154]:
x = Person("Domonica", 12)
y = Student("Ruri", 7, 3)

print(x.personInfo())
print(y.personInfo())
print(y.getStudent())

name = Domonica, age = 12
name = Ruri, age = 7
name = Ruri, age = 7, grade = 3

In [155]:
class Test:
    def __init__(self, a, b):
        self.number1 = a
        self.number2 = b
    
    def test_function(self):
        return "제 나이는 {0}입니다.".format(self.number1)

    def test3(self):
        return "제 번호는 {0}입니다.".format(self.number2)

class Test2(Test):
    def __init__(self, a, b, c):
        super().__init__(a, b)
        self.name = c
    
    def call(self):
        return super().test3()

In [157]:
x = Test2(10, 20, 30)
print(x.test_function())
print(x.call())

제 나이는 10입니다.
제 번호는 20입니다.

## Overriding
- 메소드 재정의

In [158]:
class Person:
    def __init__(self, name, age):    # 이름과 나이를 입력 받아 초기화
        self.name = name
        self.age = age
        
    def getInfo(self):    # 이름과 나이를 출력하는 메소드
        return "name = " + self.name + "  age = " + str(self.age)
    
class Student(Person):
    def __init__(self, name, age, grade):
        super().__init__(name, age)    # Person.__init__(self,name,age)
        self.grade = grade
        
    def getInfo(self):
        return super().getInfo() + "  grade = " + str(self.grade)

In [159]:
x = Person("Domonica", 12)
y = Student("Ruri", 7, 3)

print(x.getInfo())
print(y.getInfo())

name = Domonica  age = 12
name = Ruri  age = 7  grade = 3