# Kaggle_Abalone

In [1]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

### sklearn.preprocessing.StandarScaleer()
- 각각의 feature마다 독립적으로 값을 중앙으로 옮기고 스케일링을 해줌
- The magical formula which performs standardization:  
$
    x_{scaled} = \cfrac{x-\text{mean}}{sd}
$
<img src="./Standardization.png" width="400px" height="250px" title="Standardization"></img>
$\qquad \qquad \qquad \qquad \qquad \qquad \qquad \text{mean 0, variance 1}$
- **fit_transform()**
    - train dataset에만 사용
    - 만들어진 모델은 train data 에 있는 mean과 variance를 학습
    - 학습된 Scaler()의 parameter는 test data를 scale하는데 사용
    - 즉, train data로 학습된 Scaler()의 parameter를 통해 test data의 feature값들이 scale됨
- **transform()**
    - train data로부터 학습된 mean, variance parameter를 test data에 적용하기위해 사용
    - test data에 사용

In [27]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Read data
df = pd.read_csv('./Abalone.csv')

# Drop Outliers
df = df.drop(df.loc[df['Height'] > 0.3].index, axis=0)

# Convert Categorical variable(for instance, Sex) into Dummy/Indicator variables.
df = pd.get_dummies(df)

# Scaling
# X_numerical data & X_categorical data
float_columns = [x for x in df.columns if x not in ['Sex_F', 'Sex_I', 'Sex_M', 'Rings']]
sc = StandardScaler()
df2 = df.copy()
df[float_columns] = sc.fit_transform(df[float_columns])

# Train_Test DataSet
X = df.drop(['Rings'], axis =1)
Y = df['Rings']
X.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Sex_F,Sex_I,Sex_M
0,-0.574376,-0.431938,-1.148233,-0.641812,-0.607590,-0.726218,-0.638113,0,0,1
1,-1.448867,-1.439814,-1.278155,-1.230626,-1.171449,-1.205581,-1.213051,0,0,1
2,0.050260,0.122394,-0.108855,-0.309138,-0.463243,-0.356425,-0.206910,1,0,0
3,-0.699303,-0.431938,-0.368699,-0.637730,-0.648188,-0.607519,-0.602180,0,0,1
4,-1.615437,-1.540601,-1.537999,-1.272466,-1.216557,-1.287757,-1.320852,0,1,0

In [8]:
"""
X_num = df2[['Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight',
       'Viscera weight', 'Shell weight']]
X_cat = df2[['Sex_F', 'Sex_I', 'Sex_M']]
Y = df['Rings']

sc = StandardScaler()
sc.fit(X_num)
X_scaled = sc.transform(X_num)
X_scaled = pd.DataFrame(data=X_scaled, index=X_num.index, columns=X_num.columns)
X = pd.concat([X_scaled, X_cat], axis=1)
X.head()
"""

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Sex_F,Sex_I,Sex_M
0,-0.574558,-0.432149,-1.064424,-0.641898,-0.607685,-0.726212,-0.638217,0,0,1
1,-1.448986,-1.439929,-1.183978,-1.230277,-1.170910,-1.205221,-1.212987,0,0,1
2,0.050033,0.122130,-0.107991,-0.309469,-0.463500,-0.356690,-0.207139,1,0,0
3,-0.699476,-0.432149,-0.347099,-0.637819,-0.648238,-0.607600,-0.602294,0,0,1
4,-1.615544,-1.540707,-1.423087,-1.272086,-1.215968,-1.287337,-1.320757,0,1,0