## 사칙연산

In [2]:
2**8 #2^8

256

In [3]:
7/4 #실수형 나눗셈

1.75

In [4]:
7//4 #정수형 나눗셈, 몫 반환

1

In [6]:
7%4 #정수형 나눗셈, 나머지 반환

3

## 변수

In [7]:
x = 1/5
y = 3/5
x+y

0.8

## 자료형

In [8]:
type(100)

int

In [9]:
type(100.1)

float

In [10]:
x = 'learning'
type(x)

str

In [12]:
hello = "hello"
world = "world"
hw = hello + ' ' + world
print(hw)

hello world

In [13]:
hw = 'hello %s' %'world'
print(hw)

hello world

In [15]:
hw12 = '%s %s %d' %(hello, 'world', 12)
print(hw12)

hello world 12

In [16]:
'%10s' %"hi"

'        hi'

In [17]:
'%-10sjane.' %'hi'

'hi        jane.'

In [21]:
'%0.4f' %1223.423173 #반올림

'1223.4232'

In [26]:
'%2.4f' %1232123.4231223

'1232123.4231'

In [31]:
a = "Life is too short"
b = a.split()
print(a)
print(b)

Life is too short
['Life', 'is', 'too', 'short']

In [34]:
a = "a:b:c:d"
b = a.split(":")
print(b)

['a', 'b', 'c', 'd']

In [35]:
a = "Abracadabra %.3f homework"
b = 11
c = a%b
print(c)

Abracadabra 11.000 homework

In [36]:
print(a.count('A'))

1

In [38]:
print(a.find('b'))

1

In [39]:
A = a.upper()
print(A)

ABRACADABRA %.3F HOMEWORK

In [42]:
print(A%b)

ABRACADABRA 11.000 HOMEWORK

In [44]:
A = A.replace(' ',':')
print(A)

ABRACADABRA:%.3F:HOMEWORK

In [47]:
print(A.split(':'))

['ABRACADABRA', '%.3F', 'HOMEWORK']

## Boolean

In [52]:
t = True
f = False
print(type(t))
print(t and f)
print(t or f)
print(not t)
print(t != f)

<class 'bool'>
False
True
False
True

In [53]:
print("Life","is","too short")

Life is too short

## String Output formatting

In [54]:
x = 71
print('weight = {0} kg'.format(x))

weight = 71 kg

In [55]:
x = 1/3
y = 2/3
z = 1
print('weight : {0} kg {1} kg {2} kg'.format(x, y, z))

weight : 0.3333333333333333 kg 0.6666666666666666 kg 1 kg

In [56]:
print('weight : {0:.2f}kg, {1:.3f}kg, {2:.1f}kg'.format(x, y, z))

weight : 0.33kg, 0.667kg, 1.0kg

## input

In [57]:
a = input()
a

12

'12'

## while

In [60]:
x = "*"
i = 1
while i <= 5:
    y = x*i
    print(y)
    i += 1

*
**
***
****
*****

In [61]:
x = 1
y = 0
while x <= 1000:
    if x % 3 == 0:
        y += x
    x += 1
print(y)

166833

## list

In [62]:
a = "Life is too short"
a[0], a[1]

('L', 'i')

In [64]:
a[1] = 'I' #문자열은 immutable 객체

TypeError: 'str' object does not support item assignment

In [66]:
b = list(a)
b[1]

'i'

In [67]:
b[1] = 'I'

In [68]:
print(b) #리스트는 mutable 객체

['L', 'I', 'f', 'e', ' ', 'i', 's', ' ', 't', 'o', 'o', ' ', 's', 'h', 'o', 'r', 't']

## 조건문

In [69]:
1 in [1,2,3]

True

In [70]:
1 not in [1,2,3]

False

## range()

In [76]:
x = list(range(10))
print(x[3:8:2])
print(x[::-1])

[3, 5, 7]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## 반복문

In [72]:
for i in [1,2,3]:
    print(i, end=' ')

1 2 3

## enumerate FCT.

In [74]:
animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals):
    print('#%d: %s'%(idx, animal))

#0: cat
#1: dog
#2: monkey

In [75]:
for idx, animal in enumerate(animals):
    print('#%d: %s'%(idx+1, animal))

#1: cat
#2: dog
#3: monkey

## .insert() method

In [86]:
num = list(range(2,11,2))
i = 0
y = list()
while i <= 4:
    y.insert(i, num[i]*2)
    i += 1
print(y)

[4, 8, 12, 16, 20]

In [87]:
x = range(5)
num = [2, 4, 6, 8, 10]
for i in x:
    num[i] *= 2
print(num)

[4, 8, 12, 16, 20]

In [89]:
num = [2,4,6,8,10]
y = []
for idx, x in enumerate(num):
    y.insert(idx, x*2)
print(y)

[4, 8, 12, 16, 20]

In [90]:
A_Class = [70, 60, 55, 75, 95, 90, 80, 85, 100]
x = 0
z = 0
for idx, y in enumerate(A_Class):
    x += y
z = x/(idx+1)
print(z)

78.88888888888889

## List 연산

In [91]:
a = [1,2,3]
b = [4,5,6]
print(a+b)

[1, 2, 3, 4, 5, 6]

In [93]:
del a[2]
print(a, len(a))

[1, 2] 2

## List copy

In [95]:
a = [1,2,3]
b = a
print(id(a), id(b)) #동일한 객체

4407849728 4407849728

In [96]:
a is b

True

### 1.[:] 이용

In [97]:
a = [1, 2, 3]
b = a[:]
print(id(a),id(b))

4409316096 4408387904

### 2.copy module 이용

In [99]:
a = [1,2,3]
from copy import copy
b = copy(a)
b is a

False

In [101]:
a = [1,2,3,4]
a.pop()
print(a)

[1, 2, 3]

In [102]:
a = [1,2,3,4]
a.pop(1)
print(a)

[1, 3, 4]

In [104]:
a = [1,2,3]
a.extend([4,5]) #.extend([]) list만 들어갈 수 있음
print(a)

[1, 2, 3, 4, 5]

In [2]:
A = list()
a = 0

while 1:
    x = input('숫자를 입력하시오: ')
    num = int(x)
    if num ==1:
        y = input('append할 숫자를 적으시오: ')
        y = int(y)
        A.append(y)
        print(A, len(A))
    
    elif num ==2:
        y = input('remove할 숫자를 적으시오: ')
        y = int(y)
        if y in A:
            A.remove(y)
            print(A, len(A))
        else:
            print(A, len(A))
            
    elif num ==0:
        break

숫자를 입력하시오: 1
append할 숫자를 적으시오: 12
[12] 1
숫자를 입력하시오: 2
remove할 숫자를 적으시오: 12
[] 0
숫자를 입력하시오: 0

In [5]:
nums = [0,1,2,3,4]
squares =[]
for x in nums:
    squares.append(x ** 2)
print(squares) #출력 [0,1,4,9,16]

[0, 1, 4, 9, 16]

## list comprehensions

In [6]:
nums = [0,1,2,3,4]
Squares = [x ** 2 for x in nums]
print(Squares)

[0, 1, 4, 9, 16]

In [7]:
nums = [0,1,2,3,4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

[0, 4, 16]

In [ ]:
nums = list(range(1, 101))
A = [x for x in nums if x % 3 == 0]
print(A)
for y in A:
    y += y
print(y)

## Dictionary

In [8]:
d = {'cat': 'cute', 'dog': 'furry'}
print (d['cat'])
print ('cat' in d)

cute
True

In [9]:
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [11]:
list(a.keys()) #dict_keys 객체를 리스트로 변환

['name', 'phone', 'birth']

In [12]:
a.values()

dict_values(['pey', '0119993323', '1118'])

In [14]:
a.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [15]:
a.clear()
a

{}

In [16]:
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
a.get('name')

'pey'

In [17]:
print(a['nokey'])

KeyError: 'nokey'

In [18]:
print(a['name'])

pey

In [20]:
print(a.get('nokey')) #존재하지 않는 키(nokey)로 값을 가져오려고 할 경우 a['nokey']는 Key 오류를 발생시키고
                      #a.get('nokey')는 None을 돌려준다는 차이가 있다.

None

In [21]:
a.get('foo', 'bar') # get(x, '디폴트 값'), a 딕셔너리에는 'foo'에 해당하는 값이 없다. 따라서 디폴트 값인 'bar'를 돌려준다.

'bar'

### dictionary 반복문

In [22]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal in d:
    legs = d[animal]
    print('A %s has %d legs' %(animal, legs))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

In [24]:
d ={'person': 2, 'cat': 4, 'spider': 8}
for animal, legs in d.items():
    print('A %s has %d legs' %(animal , legs))
#출력 "A person has 2 legs", "A spider has 8 legs", "A cat has 4 legs", 한 줄에 하나씩

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

In [57]:
d = {'cat':1, "dog":2}
print('cat' in d)
d['tiger'] = 3
print(d)

True
{'cat': 1, 'dog': 2, 'tiger': 3}

## dictionary comprehensions

In [26]:
nums = [0,1,2,3,4]
even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0}
print(even_num_to_square)

{0: 0, 2: 4, 4: 16}

In [27]:
A={'name':'홍길동', 'birth':'1128', 'age':'30'}
for x_key, x_val in A.items():
    print("{0}\t{1}".format(x_key, x_val))

name	홍길동
birth	1128
age	30

In [30]:
a = {'A':90, 'B':80, 'C':70}
print(a['B'])
for person, score in a.items():
    if person == 'B':
        print('%s has %d score' %(person, score))

del a['B']
print(a)

80
B has 80 score
{'A': 90, 'C': 70}

In [31]:
a = {'A':90, 'B':80}
print(a.get('C', 70))

70

In [32]:
a = {'A':90, 'B':80, 'C':70}
b = list(range(3))
i = 0

for key, value in a.items():
    b[i] = (key, value)
    i += 1
print(b)

[('A', 90), ('B', 80), ('C', 70)]

## Set

In [35]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [36]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [38]:
animals = {'cat', 'dog'}
print(type(animals), animals)

<class 'set'> {'dog', 'cat'}

In [40]:
animals = {'cat', 'dog', 'fish'}
for idx, animal in enumerate(animals):
    print("#%d: %s" %(idx + 1, animal))

#1: fish
#2: dog
#3: cat

### 집합의 연산

In [43]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
print(s1 & s2)
print(s1.intersection(s2))

{4, 5, 6}
{4, 5, 6}

In [45]:
print(s1|s2)
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [47]:
print(s1-s2)
print(s1.difference(s2))

{1, 2, 3}
{1, 2, 3}

In [51]:
animals = {'cat', 'dog'}
animals.add('fish')
print(len(animals))
animals.add('cat')
print(len(animals))
animals.remove('cat')
print(len(animals))

3
3
2

In [52]:
from math import sqrt
nums = {int(sqrt(x)) for x in range(30)}
print(nums)

{0, 1, 2, 3, 4, 5}

In [53]:
t5 = ('a', 'b', ('ab', 'cd'))
print(t5)

('a', 'b', ('ab', 'cd'))

In [60]:
a = (1, )
print(type(a))
b = (1)
print(type(b))

<class 'tuple'>
<class 'int'>

In [61]:
t1 = (1, 2, 'a', 'b')
t1[1], t1[3]

(2, 'b')

In [62]:
t2 = (3, 4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [68]:
d = {(x, x+1):x for x in range(10)}
t = (5,6)
print(type(d))
d['test']=1
print(d)
print(d[t])
print(d[(1,2)])

<class 'dict'>
{(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4, (5, 6): 5, (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9, 'test': 1}
5
1

**Mutable vs Immutable Type**
- immutable type : number, string, tuple
- mutable type : list, dictionary, set