# How is the President of the United States elected?
[Reference1](https://www.kaggle.com/datasets/unanimad/us-election-2020?datasetId=955555&sortBy=voteCount)  
[Reference2](https://www.kaggle.com/datasets/muonneutrino/us-census-demographic-data)

## EDA

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format='retina'

In [21]:
# from US Election 2020
df_pres = pd.read_csv('./president_county_candidate.csv')
df_gov = pd.read_csv('./governors_county_candidate.csv')

# from US Census 2017
df_census = pd.read_csv('./acs2017_census_tract_data.csv')

# State Code 관련 부가자료
state_code = pd.read_html('https://www.infoplease.com/us/postal-information/state-abbreviations-and-state-postal-codes')

In [4]:
df_pres.head()

      state             county      candidate party  total_votes    won
0  Delaware        Kent County      Joe Biden   DEM        44552   True
1  Delaware        Kent County   Donald Trump   REP        41009  False
2  Delaware        Kent County   Jo Jorgensen   LIB         1044  False
3  Delaware        Kent County  Howie Hawkins   GRN          420  False
4  Delaware  New Castle County      Joe Biden   DEM       195034   True

In [9]:
df_pres['candidate'].unique()

array(['Joe Biden', 'Donald Trump', 'Jo Jorgensen', 'Howie Hawkins',
       ' Write-ins', 'Gloria La Riva', 'Brock Pierce',
       'Rocky De La Fuente', 'Don Blankenship', 'Kanye West',
       'Brian Carroll', 'Ricki Sue King', 'Jade Simmons',
       'President Boddie', 'Bill Hammons', 'Tom Hoefling',
       'Alyson Kennedy', 'Jerome Segal', 'Phil Collins',
       ' None of these candidates', 'Sheila Samm Tittle', 'Dario Hunter',
       'Joe McHugh', 'Christopher LaFontaine', 'Keith McCormic',
       'Brooke Paige', 'Gary Swing', 'Richard Duncan', 'Blake Huber',
       'Kyle Kopitke', 'Zachary Scalf', 'Jesse Ventura', 'Connie Gammon',
       'John Richard Myers', 'Mark Charles', 'Princess Jacob-Fambro',
       'Joseph Kishore', 'Jordan Scott'], dtype=object)

In [11]:
df_pres['candidate'].value_counts()

Joe Biden                    4633
Donald Trump                 4633
Jo Jorgensen                 4633
 Write-ins                   3792
Howie Hawkins                2994
Rocky De La Fuente           1562
Don Blankenship              1317
Brock Pierce                 1124
Kanye West                   1082
Gloria La Riva               1028
Brian Carroll                 745
Alyson Kennedy                595
Phil Collins                  467
Kyle Kopitke                  310
Blake Huber                   310
Jerome Segal                  270
Gary Swing                    246
Zachary Scalf                 246
Richard Duncan                246
Christopher LaFontaine        246
Keith McCormic                246
Brooke Paige                  246
Bill Hammons                  149
Jade Simmons                  141
Dario Hunter                  100
Ricki Sue King                 99
Joe McHugh                     93
Connie Gammon                  75
John Richard Myers             75
Joseph Kishore                 64
Mark Charles                   64
Princess Jacob-Fambro          64
Jordan Scott                   64
Tom Hoefling                   64
President Boddie               64
Jesse Ventura                  40
Sheila Samm Tittle             33
 None of these candidates      17
Name: candidate, dtype: int64

$\rightarrow \textbf{Write-ins:}\; \text{직접 와서 이름을 적은 횟수}$

In [16]:
df_pres.loc[df_pres['candidate'] == 'Kanye West']['total_votes'].sum()

66367

In [17]:
df_pres.loc[df_pres['candidate'] == 'Joe Biden']['total_votes'].sum()

82046434

In [5]:
df_gov.head()

      state             county        candidate party   votes    won
0  Delaware        Kent County      John Carney   DEM   44352   True
1  Delaware        Kent County  Julianne Murray   REP   39332  False
2  Delaware        Kent County  Kathy DeMatteis   IPD    1115  False
3  Delaware        Kent County    John Machurek   LIB     616  False
4  Delaware  New Castle County      John Carney   DEM  191678   True

In [6]:
df_census.head()

,TractId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001020100,Alabama,Autauga County,1845,899,946,2.4,86.3,5.2,0.0,...,0.5,0.0,2.1,24.5,881,74.2,21.2,4.5,0.0,4.6
1,1001020200,Alabama,Autauga County,2172,1167,1005,1.1,41.6,54.5,0.0,...,0.0,0.5,0.0,22.2,852,75.9,15.0,9.0,0.0,3.4
2,1001020300,Alabama,Autauga County,3385,1533,1852,8.0,61.4,26.5,0.6,...,1.0,0.8,1.5,23.1,1482,73.3,21.1,4.8,0.7,4.7
3,1001020400,Alabama,Autauga County,4267,2001,2266,9.6,80.3,7.1,0.5,...,1.5,2.9,2.1,25.9,1849,75.8,19.7,4.5,0.0,6.1
4,1001020500,Alabama,Autauga County,9965,5054,4911,0.9,77.5,16.4,0.0,...,0.8,0.3,0.7,21.0,4787,71.4,24.1,4.5,0.0,2.3

In [18]:
df_census['County'].value_counts()

Los Angeles County    2346
Cook County           1326
Orange County          939
Maricopa County        916
Montgomery County      833
                      ...
Real County              1
Hitchcock County         1
Reagan County            1
Hooker County            1
Cochran County           1
Name: County, Length: 1955, dtype: int64

In [23]:
state_code.head()

AttributeError: 'list' object has no attribute 'head'